<h1>About Page</h1>

<!-- Link -->
<%= link_to 'Home',  root_path %>

<!-- Image Link -->
<%= link_to image_tag('coding.jpg'), 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png'%>

