<div class="jumbotron p-5 bg-light rounded-3 text-center d-flex align-items-center">
    <div class="header-content m-auto" >
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <!-- Link -->
        <%= link_to "Sign up", signup_path , class: "btn btn-primary btn-lg btn-xlarge " %>
    </div>

</div>
