<div class="jumbotron p-5 bg-light rounded-3 text-center">
    <h1 class="display-5 fw-bold">Alpha Blog</h1>
    <!-- Link -->
    <%= link_to "Sign up", signup_path , class: "btn btn-dark btn-lg btn-xlarge " %>
</div>
